/* NAV component -------------------*/
.nav_container {
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #F2EDF5;
}
.navigation{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  width: 70%;
  height: 70px;
  background-color: #F2EDF5
}

.logo {
  margin-right: auto;
  font-size: larger;
}

.logo_link {
  padding: 10px;
  color: #E32EB0;
  text-decoration: none;
}

.right_links {
  padding: 10px;
  color: #6A18A8;
  text-decoration: none;
 
}


/* BIO component -------------------*/
.picturebox {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_picture_frame {
  border: solid 4px #6A18A8;
  border-radius: 20px;
}

.name_and_goal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: -5px;
}

.name {
  font-size: 1.5em;
  display: inline;
  padding-right: 10px;
  text-align: center;
  font-weight: 700;
}

.fitnessgoal {
  align-self: center;
  text-align: center;
  color: white;
  background-color: #E32EB0;
  border-radius: 20px;
  width: 25%;
  padding: 10px;
}

.profilestats {
  margin: 0;
  text-align: center;
  line-height: 1.5em;
  padding-bottom: 20px;
}

.stick {
  font-size: 1.25em;
  font-weight: 600;
  color: #E32EB0;
}


/* BIODIVS component -------------------*/
.outer_container {
  margin: auto;
  margin-bottom: 10px;
  display: grid;
  width: 70%;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  
}

.about_me {
  border-radius: 20px;
  grid-area: 1 / 1 / 3 / 2; 
  height: 598px;
  padding: 0 20px 10px;
  background-color: #E1D0EE;
  overflow: scroll;

}

.health_tips {
  border-radius: 20px;
  grid-area: 1 / 2 / 2 / 3;
  height: 289px;
  padding: 0 20px 10px;
  background-color: #B4F1FA;
  overflow: scroll;
}

.future_goals {
  border-radius: 20px;
  grid-area: 2 / 2 / 3 / 3;
  height: 289px;
  padding: 0 20px 10px;
  background-color: #FFF1B4;
  overflow: scroll;

}

h3 {
  text-align: center;
  color: #6A18A8;
}

/* MYHEALTHJOURNAL component -------------------*/
.outer_container2 {
  border-radius: 20px;
  margin: auto;
  display: grid;
  width: 70%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 75px 300px 200px 75px;
  background-color: #CDD5F8;
}

.my_health_journal_w_buttons { 
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  margin: 0px 20px;
  align-items: center;
  justify-content: space-between
}

/*buttons*/
.next {
  background-color: #5B70E0;
  color: white;
  margin-left: 6%;
  width: 8%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 20px;
}

.previous {
  background-color: #5B70E0;
  color: white;
  width: 12%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 20px;
}
/*buttons end*/

.entry {
  border-radius: 20px;
  margin: 10px 20px;
  margin-bottom: 10px;
  padding: 0 20px 10px;
  background-color: #FFE1E0;
  grid-area: 2 / 1 / 3 / 3; 
  overflow: scroll;
}

.my_workout_routine { 
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 5px;
  padding: 0 20px 10px;
  grid-area: 3 / 1 / 4 / 2; 
  background-color: #DAF4F5;
  overflow: scroll;
}

.my_diet_diary { 
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 5px;
  padding: 0 20px 10px;
  grid-area: 3 / 2 / 4 / 3; 
  background-color: #FFD5F3;
  overflow: scroll;
}

.bottom_w_buttons { 
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 4 / 1 / 5 / 3; 
}

/*button*/
.view_all {
  background-color: #B145CC;
  color: white;
  width: 18%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 20px;
}
/*button end*/


/* FILTERS component -------------------*/

.search_filters_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 70%;
  height: 300px;
  margin: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: white;
  }
  
  .age_range { 
    padding-top: 10px;
    border-radius: 20px;
    background-color: #A8B3E6;
    grid-area: 1 / 1 / 2 / 2; 
    
  }
  
  .gender { 
    padding-top: 10px;
    border-radius: 20px;
    background-color: #84DEC2;
    grid-area: 1 / 2 / 2 / 3; 
  }
  
  .height { 
    padding-top: 10px;
    border-radius: 20px;
    background-color:#D380C3;
    grid-area: 1 / 3 / 2 / 4; 
    display:flex;
    flex-direction: column;
  }

  .enter_height {
    width: 40%;
    height: 8px;
    border: 0;
    align-self: center;
    border-radius: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 1em;
  }
  
  .diet {
    padding-top: 10px;
    border-radius: 20px;
    background-color:#A1DFE2;
    grid-area: 2 / 1 / 3 / 2; 
  }

  .dropdown {
    background-color: #F2EDF5;
    font-size: 1em;
    border: 0;
    border-radius: 10px;
    padding: 8px;
    display:flex;
    margin: auto;
  }

  .dropdown:hover {
    border:0;
    color: #E32EB0;
    background-color: white;
  }

  .primary_workout { 
    padding-top: 10px;
    border-radius: 20px;
    background-color:#F7B8B6;
    grid-area: 2 / 2 / 3 / 3; 
  }
  
  .fitness_goal { 
    padding-top: 10px;
    border-radius: 20px;
    background-color:#FCDD89;
    grid-area: 2 / 3 / 3 / 4; 
  }

  /* PROFILECARDS component -------------------*/

.outer_profile_card_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  border-radius: 20px;
  height: 130px;
  width: 70%;
  background-color: #E1D0EE
}

.profile_card_one {
  width: 100%;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
} 

.tiny_profile_image {
  width: 23%;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 15px;
  border: solid 3px #E32EB0;
}

.profile_name {
  text-align: left;
}

.profile_card_two {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px;
}

.see_profile_button {
  background-color: #B145CC;
  color: white;
  width: 70%;
  height: 40px;
  border: none;
  border-radius: 20px;
}

h2 {
  padding:0;
  margin: 0;
  font-weight: 700;
}

.profile_card_three {
  width: 100%;
  display:flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  margin-right: 20px;
}

.like_image {
  width: 11%;
  margin-right:10px;
}
.number_of_likes_shares {
  margin: 0;
  padding: 5px;
  font-size:.875em;
  font-weight: 700px;
}

.likes_shares {
  color: #E32EB0;
}

.share_image {
  width: 15%;
  margin: 10px;
}

  /* ENTRYCARD component -------------------*/

.outer_entry_card_container {
  border-radius: 20px;
  margin: auto;
  display: grid;
  width: 70%;
  height: 250px;
  grid-template-columns: 1fr;
  grid-template-rows: .25fr 1fr;
  grid-row-gap: 20px;
  background-color: #E1D0EE;
}

.view_all_button_container { 
  margin: 20px;
  display: flex;
  justify-content: flex-end;
  grid-area: 1 / 1 / 3 / 2; 
}

.view_all_button {
  color: white;
  border: none;
  height: 40px;
  width: 175px;
  background-color: #B145CC;
  border-radius: 20px;
}

  .entry_preview { 
  border-radius: 20px;
  margin: 20px;
  background-color: #DAF4F5;
  padding: 0 20px 10px;
  grid-area: 2 / 1 / 3 / 2; 
  overflow: scroll;
}
