

/* NAV component -------------------*/
.nav_container {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #F2EDF5;
  z-index: 100;
}
.navigation{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  width: 70%;
  height: 70px;
  background-color: #F2EDF5
}

.logo {
  margin-right: auto;
  font-size: larger;
}

.logo_link {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 1.33em;
  padding: 10px;
  color: #E32EB0;
  text-decoration: none;
}

.right_links {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 1.125em;
  padding: 10px;
  color: #6A18A8;
  text-decoration: none;
 
}

/* BIO component -------------------*/
.picturebox {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}

.profile_picture_frame {
  border: solid 4px #6A18A8;
  border-radius: 20px;
}

.name_and_goal {
  display: flex;
  margin: -10px;
  margin-bottom: -20px;
  // padding: -20px;
  flex-direction: row;
  justify-content: center;
}

.name {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 2em;
  display: inline;
  padding-right: 10px;
  text-align: center;
}

.fitnessgoal {
  align-self: center;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: #E32EB0;
  border-radius: 20px;
  width: 25%;
  padding: 10px;
}

.profilestats {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1em;
  margin: 0;
  text-align: center;
  line-height: 1.5em;
  padding-bottom: 20px;
}

.stick {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  color: #E32EB0;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
}

.body_copy_padding {
  padding-left: 20px;
  padding-right: 20px;
}

span {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 1em;
}

/* BIODIVS component -------------------*/
.outer_container {
  margin: auto;
  margin-bottom: 10px;
  display: grid;
  width: 70%;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;

}

.about_me {
  border-radius: 20px;
  grid-area: 1 / 1 / 3 / 2; 
  height: 598px;
  padding: 0 20px 10px;
  background-color: #E1D0EE;
  overflow: auto;
  box-shadow: inset 0 0 20px 0 rgba(205, 157, 242,1)
}

.health_tips {
  border-radius: 20px;
  grid-area: 1 / 2 / 2 / 3;
  height: 289px;
  padding: 0 20px 10px;
  background-color: #B4F1FA;
  overflow: auto;
  box-shadow: inset 0 0 20px 0 rgba(90, 232, 239, 1)
}

.future_goals {
  border-radius: 20px;
  grid-area: 2 / 2 / 3 / 3;
  height: 289px;
  padding: 0 20px 10px;
  background-color: #FFF1B4;
  overflow: auto;
  box-shadow: inset 0 0 20px 0 rgba(253, 230, 127, 1)
}

h2 {
  font-family: 'Quicksand', sans-serif;
  color: #6A18A8;
  text-align: center
}

.heading_light_weight {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  // font-size: 1.25em;
  text-align: center;
  color: #6A18A8;
}

/* MYHEALTHJOURNAL component -------------------*/
.outer_container2 {
  border-radius: 20px;
  margin: auto;
  display: grid;
  width: 70%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 75px 300px 200px 75px;
  background-color: #CDD5F8;
  padding-bottom: 20px;
  box-shadow: inset 0 0 20px 0 rgba(173, 187, 250, 1)
}

.my_health_journal_w_buttons { 
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  margin: 0px 20px;
  padding-top: 15px;
  align-items: center;
  justify-content: space-between
}

.health_journal_title {
  margin: auto;
  padding-right: 20px;
}

.entry_name {
  font-weight: 600;
}

.date {
  font-weight: 600;
}

.entry {
  border-radius: 20px;
  margin: 10px 20px;
  margin-bottom: 10px;
  padding: 0 20px 10px;
  background-color: #FFE1E0;
  grid-area: 2 / 1 / 3 / 3; 
  overflow: auto;
  box-shadow: inset 0 0 20px 0 rgba(248,198, 196, 1)
}

.my_workout_routine { 
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 5px;
  padding: 0 20px 10px;
  grid-area: 3 / 1 / 4 / 2; 
  background-color: #DAF4F5;
  overflow: auto;
  box-shadow: inset 0 0 20px 0 rgba(182, 243, 245, 1)
}

.my_diet_diary { 
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 5px;
  padding: 0 20px 10px;
  grid-area: 3 / 2 / 4 / 3; 
  background-color: #FFD5F3;
  overflow: auto;
  box-shadow: inset 0 0 20px 0 rgba(248, 186, 231, 1)
}

.food_list_begins {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
}

.cals {
  font-weight: 400;
  list-style: none;
  padding-left: 10px;
  text-align: right;
  color: #6A18A8;
}

hr {
  border: solid .01em;
  color: #E32EB0;
  opacity: 0.2;
}

.total_calories {
  list-style: none;
  padding-top: 5px;
  text-align: left;
  font-weight: 400;
  color: #6A18A8
}


.food_calories::before {
  content : "\2022"; /* Adds the bullet */
  padding-right: 10px; /* creates the space between bullet, list item */
  color: #E32EB0 /* changes the bullet color*/
}

/* ENTRIES BUTTONS ALL, EDIT, ADD, DELETE -------------------*/
.view_all_entries_button {
  margin: 10px;
}

.add_entry_button {
  margin: 10px;
}

.edit_entry_button {
  margin: 10px;
}

.delete_entry_button {
  margin: 10px;
}

.bottom_w_buttons { 
  display: flex;
  flex-direction: row;
  margin: auto;
  grid-area: 4 / 1 / 5 / 3; 
  padding-top: 15px
}


/* SEARCH PAGE -------------------*/
.search_page_top_copy_container {
  padding-top: 80px;
  width: 70%;
  margin: auto;
  padding-bottom: 20px;
}

.search_page_results_copy_container {
  padding-top: 20px;
  width: 70%;
  margin: auto;
}

.search_results_text {
  color: #E32EB0
}


/* FILTERS component -------------------*/
.search_filters_container {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 70%;
  height: 300px;
  margin: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: white;
  }
  
  .age_range { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    border-radius: 20px;
    background-color: #A8B3E6;
    grid-area: 1 / 1 / 2 / 2; 
    box-shadow:inset 0 0 20px 0 rgba(97, 118, 216,1);
  }
  
  .gender { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    border-radius: 20px;
    background-color: #84DEC2;
    grid-area: 1 / 2 / 2 / 3; 
    box-shadow:inset 0 0 20px 0 rgba(37, 191, 143, 1);
  }
  
  .height { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    border-radius: 20px;
    background-color:#D380C3;
    grid-area: 1 / 3 / 2 / 4; 
    box-shadow:inset 0 0 20px 0 rgba(203, 79, 179, 1);
  }

  .height_filter {
    display: inline;
    // margin-top: 5%;
    padding-bottom: 5%;
    margin-top: 2px;
  }

  .diet {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    border-radius: 20px;
    background-color:#A1DFE2;
    grid-area: 2 / 1 / 3 / 2; 
    box-shadow:inset 0 0 20px 0 rgba(50, 188, 195, 1);
  }

  .dropdown {
    background-color: #F2EDF5;
    font-size: 1em;
    border: 0;
    border-radius: 10px;
    padding: 8px;
    display:flex;
    margin: auto;
  }

  .dropdown:hover {
    border:0;
    color: #E32EB0;
    background-color: white;
  }

  .primary_workout { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    border-radius: 20px;
    background-color:#F7B8B6;
    grid-area: 2 / 2 / 3 / 3; 
    box-shadow:inset 0 0 20px 0 rgba(244, 130, 126, 1);
  }
  
  .fitness_goal { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    border-radius: 20px;
    background-color:#FCDD89;
    grid-area: 2 / 3 / 3 / 4; 
    box-shadow:inset 0 0 20px 0 rgba(239, 198, 87, 1);
  }

.profile_card_container_spacing {
  margin-top: 40px;
  margin-bottom: 20px;
}

.outer_profile_card_container {
  margin: auto;
  border-radius: 20px;
  width: 70%;
  background-color: #E1D0EE;
  display: grid;
  grid-template-columns: .5fr repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  }
  
  .profile_card_image {
    margin: 15px;
    align-self: center;
    grid-area: 1 / 1 / 2 / 2; 
  }

  .tiny_profile_image { 
    width: 80%;
    border-radius: 15px;
    border: solid 2px #6A18A8;
  }

  .profile_card_copy { 
    align-self: center;
    // padding-bottom: 10px;
    grid-area: 1 / 2 / 2 / 3; 
  }

  .see_profile_button {
    margin: auto;
    // padding-bottom: 10px;
    grid-area: 1 / 3 / 2 / 4; 
  }

  .likes { 
    width: 60%;
    margin: auto;
    align-self: center;
    // padding-bottom: 20px;
    grid-area: 1 / 4 / 2 / 5; 
  }
  .shares { 
    width: 70%;
    margin: auto;
    align-self: center;
    padding-right: 20px;
    grid-area: 1 / 5 / 2 / 6; 
  }

  /* ENTRYCARD component -------------------*/
  /* not logged in version -------------------*/
  .entry_card_spacing_container {
    margin-top: 10px;
  }

.outer_entry_card_container {
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  grid-template-rows: repeat(2, .125fr) 1fr;
  grid-column-gap: 0px;
  border-radius: 20px;
  margin: auto;
  width: 70%;
  background-color: #E1D0EE;
}

.entry_card_date { 
  margin-top: 20px;
  margin-left: 40px;
  grid-area: 1 / 1 / 2 / 2; 
}

.entry_card_entry_name { 
  margin-left: 40px;
  grid-area: 2 / 1 / 3 / 2;
}

.entry_name {
  text-align: left;
}

.entry_card_edit_entry_button { 
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
  grid-area: 1 / 2 / 3 / 3;
}


.entry_card_delete_entry_button { 
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 10px;
  grid-area: 1 / 3 / 3 / 4;
}

.entry_card_view_entry_button { 
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 10px;
  grid-area: 1 / 3 / 3 / 4;
}

.button_spacing_container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 40px;
}

  .entry_preview { 
  grid-area: 3 / 1 / 4 / 4;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #DAF4F5;
  padding: 0 20px 10px;
  overflow: auto;
}

/* logged in version -------------------*/

.outer_entry_card_container_me {
  display: grid;
  grid-template-columns: .5fr repeat(3, .25fr);
  grid-template-rows: repeat(2, .125fr) 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  border-radius: 20px;
  margin: auto;
  width: 70%;
  background-color: #E1D0EE;
}

.entry_card_date_me { 
margin-top: 20px;
margin-left: 40px;
grid-area: 1 / 1 / 2 / 2; 
}

.entry_card_entry_name_me { 
margin-left: 40px;
grid-area: 2 / 1 / 3 / 2;
}

// .entry_name {
// text-align: left;
// }

.entry_card_view_entry_button_me { 
display: flex;
flex-direction: row;
justify-content: flex-end;
margin-top: 20px;
grid-area: 1 / 2 / 3 / 3
}

.entry_card_edit_entry_button_me { 
display: flex;
flex-direction: row;
justify-content: flex-end;
margin-top: 20px;
grid-area: 1 / 3 / 3 / 4
}


.entry_card_delete_entry_button_me { 
display: flex;
flex-direction: row;
justify-content: flex-end;
margin-top: 20px;
margin-right: 10px;
grid-area: 1 / 4 / 3 / 5
}


.button_spacing_container {
display: flex;
width: 100%;
justify-content: center;
padding-top: 40px;
}

.entry_preview_me { 
grid-area: 3 / 1 / 4 / 5;
border-radius: 20px;
margin-bottom: 20px;
margin-left: 20px;
margin-right: 20px;
background-color: #DAF4F5;
padding: 0 20px 10px;
overflow: auto;
}

  /* LIKE BUTTON LARGE  component -------------------*/

  .large_like_button {
    
  }

  // .like_button {
  //   margin-left: 20px;
  // }

  .large_like_text {
    font-size: 1em;
    margin-top: 40px;
  }

  .like_image_large {
    width: 10%;
    margin-left: 20px;
  }

  /* LIKE BUTTON LARGE  component -------------------*/

  .large_share_button {
    display: inline-flex;
    flex-direction: row;
    margin-top: -20px;
  }

  .share_button {
    margin-left: 20px;
  }

  .large_share_text {
    font-size: 1.25em;
    margin-top: 50px;
  }

  .share_image_large {
    width: 20%;
    margin-left: 20px;
  }

  .spacer {
    margin: 20px;
  }

    /* UPDATE PROFILE Button Component and BOTTOM BUTTON SERIES w/ SMALL SHARE AND LIKES BUTTONS -------------------*/
  .update_profile_button {
    margin-left: 5%;
    margin-right: 5%
  }

  .profile_bottom_w_buttons {
    display: flex;
    margin:auto;
    padding: 40px;
    justify-content: center;
  }


  /* SHARE API BUTTONS  component -------------------*/

 #email {
 margin: 0 5px;
}


/* LIKE_SMALL & SHARE_SMALL component -------------------*/
.like_small_container {
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .small_like_image {
    width: 70%;
    grid-area: 1 / 1 / 2 / 2; 
  }

  .small_like_image_clicked {
    width: 70%;
    grid-area: 1 / 1 / 2 / 2; 
  }

  .number_of_likes { 
    // margin: -10%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    grid-area: 1 / 2 / 2 / 3; 
  }

  .likes_pink {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #E32EB0;
  }

  .small_share_image {
    width: 80%;
    grid-area: 1 / 1 / 2 / 2; 
  }

