.navigation{
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: plum;
}

.navlogo {
  margin-right: auto;
  font-size: larger;
}

.navlinks, a {
  padding: 10px;
}