.entry_form_container {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #E1D0EE;
  border-radius: 20px;
  margin: auto;
  width: 70%;
}

.entry_fields {
  margin:auto;
  width: 100%;
}

.text_field {
  border: none;
  border-radius: 20px;
  background-color: #F2EDF5;
}

#move2 {
  padding-top: 40px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  
}

#book {
  color: #6A18A8
}

#resto {
  color: #6A18A8
}

#minus {
  border-radius: 10px;
  background-color: #B145CC;
  margin-left: 10px;
  padding: 2px;
  font-size: 2rem;
  color: #E1D0EE
}

#add {
  border-radius: 10px;
  background-color: #B145CC;
  padding: 2px;
  font-size: 2rem;
  color: #E1D0EE;
}