.form {
  width: 70%;
  margin: auto;

}

.outer_form_container {
  box-shadow:inset 0 0 20px 0 rgba(205, 157, 242,1);
  margin-top: 100px;
  padding-bottom: 40px;
  background-color: #E1D0EE;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#move {
  padding-top: 40px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  
}

.text_field {
  border: none;
  border-radius: 20px;
  background-color: #F2EDF5;
}


#face {
  color: #6A18A8
}

#account{
  color: #6A18A8
}

#eye1{
  color: #6A18A8
}

#eye2{
  color: #6A18A8
}

#cutlery{
  color: #6A18A8
}

#weights{
  color: #6A18A8
}

#password1 {
  color: #6A18A8
}

#password0 {
  color: #6A18A8
}

#gender-select {
  color: #6A18A8
}

#fitness-goal-select {
  color: #6A18A8
}

#diet-type-select {
  color: #6A18A8
}

#primary-workout-select {
  color: #6A18A8
}

.reset_and_save_buttons_container {
  display: flex;
  padding: 40px;
  justify-content: center;

}

.reset_button {
  margin-right: 10px; 
}

.save_button {
  margin-left: 10px; 
}
