.outer_form_container2 {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #E1D0EE;
  border-radius: 20px;
  margin: auto;
  width: 40%;
}

.text_field2 {
  border: none;
  border-radius: 20px;
  background-color: #F2EDF5;
}

#account{
  color: #6A18A8
}

#eye1{
  color: #6A18A8
}

#eye2{
  color: #6A18A8
}

#password1 {
  color: #6A18A8
}

#password0 {
  color: #6A18A8
}

.form_fields2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signIn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}