/* LOGIN PAGE -------------------*/
// .search_page_top_copy_container {
//   padding-top: 80px;
//   width: 70%;
//   margin: auto;
//   padding-bottom: 20px;
// }

// .search_page_results_copy_container {
//   padding-top: 20px;
//   width: 70%;
//   margin: auto;
// }

// .search_results_text {
//   color: #E32EB0
// }


.outer_login_container {
  width: 70%;
  margin: auto;
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: .25fr 1.5fr .5fr;
  grid-column-gap: 40px;
  grid-row-gap: 20px;
}

.login_heading { 
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
  color: #6A18A8;
  grid-area: 1 / 1 / 2 / 2; 
}

.login_picture {
  grid-area: 2 / 1 / 3 / 2; 
  border: solid 4px #6A18A8;
  border-radius: 20px;
}

.login_marketing_message {
  padding: 0 20px 20px;
  grid-area: 3 / 1 / 4 / 2;
}

.login_fields_submit_button {
  align-self: center;
  grid-area: 2 / 2 / 3 / 3; 
}

.login_register_forgot_password {
  text-align: center;
  grid-area: 3 / 2 / 4 / 3;
}

.outer_form_container2 {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #E1D0EE;
  border-radius: 20px;
  margin: auto;
  width: 40%;
}

.text_field2 {
  border: none;
  border-radius: 20px;
  background-color: #F2EDF5;
}

#account{
  color: #6A18A8
}

#eye1{
  color: #6A18A8
}

#eye2{
  color: #6A18A8
}

#password1 {
  color: #6A18A8
}

#password0 {
  color: #6A18A8
}

.form_fields2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signIn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}